.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

#form {
  text-align: right;
  border: none;
  width: 300px;
}

/*#user_name {
  float: right;
}

#password {
  float: right;
}

#submit {
  float: right;
}*/
