<div class="container">

  <% if @user %>
  
  <% else %>
    <h1>Welcome to Javi's Hot Spot!!!</h1>
  <h3>Where beautiful people connect</h3>
  
  <%if @error%>
  <%= @error %>
  <%end%>
<div id="form">
  <form name="user_auth" action="/user_login" method="POST">     
    <label for="user_name">Email:</label>
    <input id="user_name" type="text" name="user[user_name]">
    <br><br>
    <label for="password">Password:</label>
    <input id="password" type="password" name="user[password]">
    <br><br>
    <input type="submit" value="Login" id="submit">
  </form>
</div> <!--end "login_form" div -->
  <br>

  <div id="form">
  <form name="user_auth" action="/user_new" method="POST">     
    <label for="user_name">Email:</label>
    <input id="user_name" type="text" name="user[user_name]">
    <br><br>
    <label for="password">Password:</label>
    <input id="password" type="password" name="user[password]">
    <br><br>
    <input type="submit" value="Register" id="submit">
  </form>
 <% end %> 
</div> <!--end "register_form" div -->
 <br>




<ul>
<%User.all.each do |user|%>
  <li><%=user.user_name%></li>
<%end%>
</ul>

</div>
